* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Fraunces, sans-serif;
  font-size: 1.3rem;
  height: 100vh;
  line-height: 1.0;
}

html {
  font-size: 62.5%;
  font-size: 1.0;
}

h1, h2, h3 hr{
  color: rgb(115, 3, 3);
  font-family: Fraunces;
}

.about-img {
  width: 100%;
  height: 50rem;
  object-position: center;
  object-fit: cover;
}

.about-header-text {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  text-align: center;
  text-decoration: none;
  /* background-image: url(./Images/men\ in\ suilt.jpg);
  background-position: center;
  background-size: cover; */
}

.about-header-text ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 3rem;
  cursor: pointer;
}

.about-header-text ul li a {
  text-decoration: none;
  color: rgb(115, 3, 3);
}

.about-first-section{
  padding: 3rem 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-second-section {
  padding: 3rem 8rem;
  margin-top: 3rem;
  display: flex;
  gap: 10%;
}

.about-first-container  {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.insta {
  width: 70rem;
 height: 40rem;
}

.instagram-media {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.welcome-about-text {
  width: 70rem;
  height: 40rem;
}

.welcome-about-text p {
  line-height: 2.0;
  text-align: justify;
  /* text-align-last: justify; */
}

.mission-statement {
  width: 26.6%;
}

/* .mission-statement p {
  text-align: justify;
} */

.custom-bullet {
    list-style-type: none; 
    padding: 0;
}
.custom-bullet li::before {
    content: "✔"; 
    color: rgb(115, 3, 3);
    font-weight: bold;
    margin-right: 8px;
}

.about-third-section {
  display: flex;
}

.advantages {
  background-color: black;
  padding: 3.5rem;
  width: 25%;
  color: white;
  line-height: ;
}

.advantages h1 {
  color: white;
}

.advantages h1 span {
  color: rgb(115, 3, 3);
}

.advantages img {
  width: 10rem;
}

.about-button {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}




.about-button .book-appointment-btn {
  padding: 1.5rem 2rem;
  background-color: rgb(115, 3, 3);
  border: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: background 0.3s ease;
  cursor: pointer;
}

.about-button .rent-a-car-btn {
  padding: 1.5rem 2rem;
  background: none;
  border: 3px solid rgb(115, 3, 3) ;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;

}


.welcome-button .rent-a-car-btn:hover {
  background: gainsboro;
}

.welcome-button .book-appointment-btn:hover {
  background: rgb(180, 78, 78);
}

.customer {
  width: 25%;
  background: rgba(7, 7, 7, 0.962);
  color: white;
  line-height: 2.0;
  padding: 3.5rem;
}

.customer  img {
  width: 10rem;
}

.customer h3 {
  color: rgb(115, 3, 3);
}

.prices {
  background-color: black;
  padding: 3.5rem;
  width: 25%;
  color: white;
  line-height: 2.0;
}

.prices  img {
  width: 10rem;
}

.prices h3 {
  color: rgb(115, 3, 3);
}

.quality {
  width: 25%;
  background: rgba(7, 7, 7, 0.962);
  color: white;
  line-height: 2.0;
  padding: 3.5rem;
}

.quality  img {
  width: 10rem;
}

.quality h3 {
  color: rgb(115, 3, 3);
}

.team-profile-section {
  padding: 3rem 8rem;
  margin-top: 3rem;;
}

.team-profile-section h1 {
  text-align: center;
}

.team-profile-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 3rem;
}

.team-profile:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.team-profile {
  width: 22.2%;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  border: 1px white solid;
  text-align: center;
}

.team-profile img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

.team-profile p {
  font-weight: bold;
}

.profile-social {
  display: flex;
  gap: 7rem;
  position: relative;
  top: -25%;
  right: 0%;
  align-self: center;
  justify-content: center;
}

.profile-social a img {
  width: 3rem;
}


@media screen and (max-width: 76rem) {
  .mobile-menu  {
    position: absolute;
    top: 7.5rem;
    right: 0;
    background-color: #333;
    width: 100%;
    flex-direction: column;
    display: none;
}


.mobile-menu  li a{
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.mobile-menu  li a:hover {
  background: grey;
}

.mobile-menu li a button {
  background: rgb(115, 3, 3);
  color: white;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 30%;
  cursor: pointer;
}

.mobile-menu li a button:hover {
  background-color: red;
}


 .about-img {
  width: 100%;
  height: 50rem;
  object-position: center;
  object-fit: cover;
}

.about-header-text {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  text-align: center;
  text-decoration: none;
  /* background-image: url(./Images/men\ in\ suilt.jpg);
  background-position: center;
  background-size: cover; */
}

.about-header-text ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 3rem;
  cursor: pointer;
}

.about-header-text ul li a {
  text-decoration: none;
  color: rgb(115, 3, 3);
}

.about-first-section{
  padding: 0rem 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-second-section {
  padding: 1rem 3rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-first-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

}

.insta {
  width: 100%;
 height: 40rem;
}

.instagram-media {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.welcome-about-text {
  width: 100%;
  /* height: 40rem; */
}

.welcome-about-text p {
  line-height: 2.0;
  text-align: justify;
  /* text-align-last: justify; */
}

.mission-statement {
  text-align: justify;
  width: 100%;
}

/* .mission-statement p {
  text-align: justify;
} */

.custom-bullet {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
}
.custom-bullet li::before {
    content: "✔"; /* Your custom symbol */
    color: rgb(115, 3, 3);
    font-weight: bold;
    margin-right: 8px;
}

.about-third-section {
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

.advantages {
  background-color: black;
  padding: 3.5rem;
  width: 100%;
  color: white;
  line-height: 2.0;
}

.advantages h1 {
  color: white;
}

.advantages h1 span {
  color: rgb(115, 3, 3);
}

.advantages img {
  width: 5rem;
}

.about-button {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}




.about-button .book-appointment-btn {
  padding: 0.5rem 1rem;
  background-color: rgb(115, 3, 3);
  border: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: background 0.3s ease;
  cursor: pointer;
}

.about-button .rent-a-car-btn {
  padding: 0.5rem 1rem;
  background: none;
  border: 3px solid rgb(115, 3, 3);
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;

}


.welcome-button .rent-a-car-btn:hover {
  background: gainsboro;
}

.welcome-button .book-appointment-btn:hover {
  background: rgb(180, 78, 78);
}

.customer {
  width: 100%;
  background: rgba(7, 7, 7, 0.962);
  color: white;
  line-height: 2.0;
  padding: 3.5rem;
}

.customer  img {
  width: 5rem;
}

.customer h3 {
  color: rgb(115, 3, 3);
}

.prices {
  background-color: black;
  padding: 3.5rem;
  width: 100%;
  color: white;
  line-height: 2.0;
}

.prices  img {
  width: 5rem;
}

.prices h3 {
  color: rgb(115, 3, 3);
}

.quality {
  width: 100%;
  background: rgba(7, 7, 7, 0.962);
  color: white;
  line-height: 2.0;
  padding: 3.5rem;
}

.quality  img {
  width: 5rem;
}

.quality h3 {
  color: rgb(115, 3, 3); 
}

.team-profile-section {
  padding: 3rem 5rem;
  margin-top: 3rem;;
}

.team-profile-section h1 {
  text-align: center;
}

.team-profile-container {
  display: flex;
  flex-direction: column;

}

.team-profile:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.team-profile {
  width: 100%;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  border: 1px white solid;
  text-align: center;
}

.team-profile img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

.team-profile p {
  font-weight: bold;
}

.profile-social {
  display: flex;
  gap: 7rem;
  position: relative;
  top: -25%;
  right: 0%;
  align-self: center;
  justify-content: center;
}

.profile-social a img {
  width: 3rem;
}

}