* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.8rem;
  height: 100vh;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  color: rgb(115, 3, 3);
  font-family:  sans-serif;
}

input[type="text"] {
  width: 25%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  margin: 0 0;
}

.vehicle-list {
  display: flex;
 
  flex-wrap: wrap;
  padding: 2rem 5rem;
  gap: 5rem;
}

.container {
  margin-top: 5rem;
  width: 22%;
  /* height: 50rem; */
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  cursor: pointer;
}

.container:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.container  a img {
  width: 3rem;
}

.swiper{
  width: 100%;
  height: fit-content;
}

.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

.rent-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0rem 1rem;
}

.rent-content h3 {
  font-size: 1.5rem;
}

section h1 {
  margin-top: 15rem;
  text-align: center;
}

@media screen and (max-width: 76rem) {
  .vehicle-list {
  display: flex;
 
  flex-wrap: wrap;
  padding: 2rem 5rem;
  gap: 2rem;
}

.container {
  margin-top: 5rem;
  width: 100%;
  /* height: 50rem; */
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  cursor: pointer;
}

.container:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.container  a img {
  width: 3rem;
}

.swiper{
  width: 100%;
  height: fit-content;
}

.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

.rent-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0rem 1rem;
  gap: 3rem;
}

.rent-content h3 {
  font-size: 1.5rem;
}

section h1 {
  margin-top: 15rem;
  text-align: center;
}
}