
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.7rem;
  height: 100vh;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  color: rgb(115, 3, 3);
  font-family: sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: rgb(25, 8, 8);
  padding: 2rem 7rem;
  display: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000
}

.navbar a img {
  width: 180px;
  height: 50px;
  align-self: center;
  align-items: center;
  cursor: pointer;
}

.navbar .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
  color: white;
  cursor: pointer;
}

.navbar .menu {
  align-self: center;
  background-color: ;
}

.navbar ul li a{
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.navbar ul li a:hover {
  background: grey;
}

.navbar ul li a button {
  background: rgb(115, 3, 3);
  color: white;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 30%;
  cursor: pointer;
}

.navbar ul li a button:hover {
  background-color: red;
}

.mobile-content {
  display: none;
}

.mobile-menu {
  display: none;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  touch-action: pan-y;
}

.slide {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  aspect-ratio: 16 / 9;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  color: white;
  padding: 1.5em;
  border-radius: 10px;
  max-width: 40%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}



.slide1 {
  background-image: url('./Images/Fade_Auto_03.png');
}
.slide2 {
  background-image: url('./Images/Fade_Auto.png');
}
.slide3 {
  background-image: url('./Images/Fade_Auto_02.png');
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  z-index: 10;
  user-select: none;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.content h1 {
  font-size: 4rem;
  color: white;
}

.welcome-button {
  display: flex;
  gap: 3rem;
}

.welcome-button .book-appointment-btn {
  padding: 1.5rem 2rem;
  background-color: rgb(115, 3, 3);
  border: 3px solid rgb(115, 3, 3);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: background 0.3s ease;
  cursor: pointer;
}

.welcome-button .rent-a-car-btn {
  padding: 1.5rem 2rem;
  background: none;
  border: 3px solid rgb(115, 3, 3) ;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;

}


.welcome-button .rent-a-car-btn:hover {
  background: gainsboro;
}

.welcome-button .book-appointment-btn:hover {
  background: rgb(180, 78, 78);
}

.heading {
  margin-top: 2rem;
}

.heading h1 {
  text-align: center;
}

.heading h2 {
  text-align: center;
  margin-top: 2rem;
  color: black;
}

.repair-section {
  margin-top: 0rem;
  padding: 1rem 5rem;
}

.repair-container-1 {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.repair-box {
  width: 33.3%;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  border: 1px white solid;
  padding: 2rem 2rem;
  cursor: pointer;
}

.repair-box h3 {
  color: black;
}

.repair-box p {
  font-weight: bold;
  text-align: justify;
  margin-top: 2rem;
}

.repair-box:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.heading-repair {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.heading-repair img {
  width: 10rem;
}

.car-rapair-image {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  padding: 2rem 0rem;
}

.car-rapair-image img {
  width: 100%;
}

.car-rental-section {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 3rem 5rem;
}

.car-rental-section h2 {
  text-align: center;
  color: black;
}

.gallery-container {
  display: flex;
  gap: rem;
  margin-top: 2rem;
}

.car-rental-gallery {
  padding: 1rem 3rem;
}

.gallery-item img {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(115, 3, 3);
  transition: transform 0.2s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.faq-section {
  margin-top: 2rem;
}

.faq {
  max-width: 70rem;
  margin: auto;
}

.faq h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.faq-item {
  background: #fff;
  margin: 10px 0;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 3px 8px rgb(115, 3, 3));
  cursor: pointer;
  transition: 0.3s;
}

  .faq-item:hover {
  background: #f0f0f0;
}

.faq-item h3 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  }

.faq-item h3::after {
  content: "+";
  font-size: 2rem;
  transition: transform 0.3s;
}

.faq-item.active h3::after {
  content: "-";
  transform: rotate(180deg);
}

.faq-item p {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.4s ease;
  margin-top: 0;
}

.faq-item.active p {
  max-height: 50rem; 
  opacity: 1;
  transform: scale(1);
  margin-top: 1rem;
 }

 .gallery-section {
  padding: 2rem 5rem;
  margin-top: 3rem;
 }

span h1 {
  text-align: center;
  letter-spacing: 1rem;
  font-size: 4rem;
}


span p {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

#testimonial-section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  line-height: 2.0;
  margin-top: 3rem;
  
}

#testimonial-section :hover {
  transform: scale(1.05);
}

/* .testimonial-active {
  width: 33.3%;
  text-align: justify;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  border: 1px white solid;
  padding: 2rem 2rem;
  cursor: pointer;
} */

.testimonial-image {
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-self: center;
}

.testimonial {
  width: 33.3%;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  border: 1px white solid;
  padding: 2rem 2rem;
  cursor: pointer;
  /* border-bottom: rgb(115, 3, 3) 2px solid; */
}



.testimonial span {
  font-weight: bolder;
}

.nav-buttons {
  display: none;
  text-align: center;
  margin: 20px 0;
}

.nav-buttons button {
  display: none;
  background: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

    .stars {
      color: gold;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

.mobile-gallery #testimonial-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  line-height: 2.0;
  margin-top: 3rem;
  
}}

.find-us {
  margin-top: 5rem;
}

.find-us h1 {
  text-align: center;
  letter-spacing: 2rem;
}

.map {
  width: 100%;
  margin-top: 5rem;
}

  .whatsapp-button {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      background-color: #25D366;
      color: white;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      cursor: pointer;
      z-index: 1000;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;
    }

    .whatsapp-button:hover {
      transform: scale(1.1);
    }

    .whatsapp-chat {
      position: fixed;
      bottom: 90px;
      right: 20px;
      width: 20rem;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      display: none;
      animation: slideIn 0.4s ease-out forwards;
      z-index: 1000;
      overflow: hidden;
    }

    @keyframes slideIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .whatsapp-chat-header {
      background-color: #25D366;
      color: white;
      padding: 10px;
      font-weight: bold;
      text-align: center;
    }

    .whatsapp-chat-body {
      padding: 15px;
      font-size: 14px;
      color: #333;
    }

    .whatsapp-chat-body p {
      margin: 0 0 10px;
    }

    .whatsapp-chat a {
      display: block;
      text-align: center;
      background: #25D366;
      color: white;
      padding: 10px;
      margin-top: 10px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }

    .show-chat {
      display: block;
    }
/* Fotter section */
.footer {
  background-color: rgb(25, 8, 8);
  color: #fff;
  padding: 2rem 5rem;
  margin-top: 5rem;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: auto;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-section h2, .footer-section h3 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-section .social-icons img {
  width: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.footer-section .social-icons img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  border-top: 1px solid #333;
  padding-top: 15px;
  color: #aaa;
}

.footer .footer-container .footer-section img {
  width: 70%;
}





@media screen and (max-width: 76rem) {
  body {
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  height: 50vh;
  line-height: 1.5;
}



.slider-container {
  position: relative;
}

.slide {
  display: flex;
  aspect-ratio: 9 /16;
  overflow: hidden;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; */
  z-index: 1
}

.slide1 {
  background-image: url('./Images/Fade_Auto_Mobile_01.png');
}
.slide2 {
  background-image: url('./Images/Fade_Auto_Mobile_03.png');
}
.slide3 {
  background-image: url('./Images/Fade_Auto_Mobile_02.png');
}

.content {
  position: absolute;
  bottom: 40%;
  left: 5%;
  color: white;
  padding: 1.5em;
  border-radius: 10px;
  max-width: 80%;
}

  .content h1 {
    font-size: 2.0rem;
  }

.navbar {
  display: none;
}

.mobile-content {
  display: block;
}

.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: rgb(25, 8, 8);
  padding: 1.5rem 2rem;
  position: relative;
  /* overflow: hidden; */
  height: 100hv;
  z-index: 800;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

.mobile-nav-bar a img {
  display: flex;
  width: 14rem;
  height: 3.5rem;
  align-self: center;
  align-items: center;
  cursor: pointer;
}

.navbar .mobile-menu ul {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  cursor: pointer;
  height: 100hv;
  z-index: 900;
  
}

.mobile-menu {
  background-color: none;
  height: 100hv;
  max-width: 100hv;
  width: 15rem;
  position: fixed;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  transition: 0.3s;
  top: 15vh;
  z-index: 1000; 
  position: fixed;
}

.mobile-menu.active {
  right: 0;
  display: flex;
  position: fixed;
  height: 33vh;
  position: absolute;
  z-index: 999;
  background-color: rgb(25, 8, 8);
}

.menu-toggle {
  height: 5rem;
  width: 5rem;
  /* margin-bottom: auto; */
  position: relative;

}

.bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: .3s;
  border-radius: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar:nth-child(1) {
  top: 25%
}

.bar:nth-child(2) {
  top: 75%;
}

.menu-toggle.active .bar:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.welcome-section {
  margin-top: 2rem;
  /* background: rgba(64, 63, 63, 0.773); */
  line-height: 2.0;
  font-size: 1.3rem;
}

.mobile-menu  {
    position: absolute;
    top: 7.5rem;
    right: 0;
    background-color: #333;
    width: 100%;
    flex-direction: column;
    display: none;
}


.mobile-menu  li a{
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.mobile-menu  li a:hover {
  background: grey;
}

.mobile-menu li a button {
  background: rgb(115, 3, 3);
  color: white;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 30%;
  cursor: pointer;
}

.mobile-menu li a button:hover {
  background-color: red;
}

.welcome-button {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.welcome-button .book-appointment-btn {
  padding: 1.5rem 2rem;
  background-color: rgb(115, 3, 3);
  border: 3px solid rgb(115, 3, 3);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: background 0.3s ease;
  cursor: pointer;
}

.welcome-button .rent-a-car-btn {
  padding: 1.5rem 2rem;
  background: none;
  border: 3px solid rgb(115, 3, 3) ;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;

}


.welcome-button .rent-a-car-btn:hover {
  background: gainsboro;
}

.welcome-button .book-appointment-btn:hover {
  background: rgb(180, 78, 78);
}

.heading {
  margin-top: 3rem;
}

.heading h1 {
  text-align: center;
}

.heading h2 {
  text-align: center;
  margin-top: 2rem;
  color: black;
}

.repair-section {
  margin-top: 0rem;
  padding: 1rem 3rem;
}

.repair-container-1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.repair-box {
  width: 100%;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  border: 1px white solid;
  padding: 2rem 2rem;
  cursor: pointer;
}

.repair-box h3 {
  color: black;
}

.repair-box p {
  font-weight: bold;
  text-align: justify;
  margin-top: 2rem;
}

.repair-box:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.heading-repair {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.heading-repair img {
  width: 5rem;
}

.car-rapair-image {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  padding: 2rem 0rem;
}

.car-rapair-image img {
  width: 100%;
}

.car-rental-section {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 3rem;
}

.car-rental-section h2 {
  text-align: center;
  color: black;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem;
  margin-top: 1rem;
}

.car-rental-gallery {
  padding: 1rem 3rem;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(115, 3, 3);
  transition: transform 0.2s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.05);
}



span h1 {
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
}



span p {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  text-align: center;
  padding: 0rem 1rem;
}

 .gallery-section {
  padding: 2rem 3rem;
  margin-top: 3rem;
 }

.desktop-gallery {
  display: none;
}

.mobile-gallery #testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  line-height: 2.0;
  margin-top: 3rem;
  
}

#testimonial-section :hover {
  transform: scale(1.05);
}

.testimonial-image {
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-self: center;
}

.testimonial {
  width: 100%;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(115, 3, 3);
  border: 1px white solid;
  padding: 2rem 2rem;
  cursor: pointer;
  /* border-bottom: rgb(115, 3, 3) 2px solid; */
}

.testimonial span {
  font-weight: bolder;
}
.nav-buttons {
  text-align: center;
  margin: 20px 0;
}

.nav-buttons button {
  background: rgb(115, 3, 3);
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-buttons button:hover {
  background: red;
}

.testimonial span {
  display: block;
}

    .stars {
      color: gold;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.mobile-galley {
  display: block;
}

.find-us h1 {
  text-align: center;
  letter-spacing: 2rem;
  font-size: 2.5rem;
}

.footer-logo a img {
  width: 14rem;
  height: 3.5rem;
}

.footer-section {
  flex: 1 1 ;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;

}
